<!DOCTYPE html>
<html lang="en">
    <body>
        <fieldset>
            <legend>Order form</legend>
            {{ form_start(form) }}
                <fieldset>
                    <legend>Billing form</legend>
                    {{ form_row(form.billingAddress)}}
                </fieldset>
                <fieldset>
                    <legend>Shipping form</legend>
                    {{ form_row(form.shippingAddress)}}
                </fieldset>
            {{ form_row(form) }}
            {{ form_end(form) }}
        </fieldset>
    </body>
</html>
